MONGODB_URI=mongodb+srv://praveensainalluri008_db_user:231FA04930@cluster0.dnmhqhe.mongodb.net/?appName=Cluster0/getsetai
JWT_SECRET=your_jwt_secret_key_here
GOOGLE_CLIENT_ID=509974976339-bpan5hceh940oqgki7adq041nnv6gldc.apps.googleusercontent.com
